<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6AHJl60IVV7StnIg01-asX25-VbxDVfE</string>
	<key>GCM_SENDER_ID</key>
	<string>684446974160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecom.ulearning</string>
	<key>PROJECT_ID</key>
	<string>ecom-kcks</string>
	<key>STORAGE_BUCKET</key>
	<string>ecom-kcks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684446974160:ios:8e589078bdcbf14ed31ed5</string>
</dict>
</plist>